
@media only screen and (max-width:768px){
/* ---------Banner Section -----------*/
.bannerTitle{
    top:25%;
    height: 50%;
    
    
    
}
.bannerTitle h1{
  
   margin: 0;
   
}



/*--------- Content Section 1 About ------ */
.aboutSection  {
    width: 100%;
}
.aboutSection h2{
    text-indent: 0;
}

.aboutSection p {
    text-indent: 0em;
    text-align: center;
    font-size: larger;
}
/*--------- WebPage 1 Section --------- */
.WebPageContainer1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width:100%;
    
}
.imgContainer {
    width: 90%;
    margin: 0 5% 0 5%;
}

.title h2{
    
}
.dayBox{
    display:grid;
    grid-template-rows: auto auto auto auto;
    width:100%;
    
}
.dayBox img {
    align-self: center;
    justify-content: center;
   margin:auto;
    
    width: 100%;
}
.dayBox h1{
    margin: 0px 0px;
    padding: 15px 0px 0px 0px;
}
.dayBox h4{
    margin: 5px;
    
}



/*------------ WebPage 2 Section ------ */
.calanderContainer {
    display: grid;
    grid-template-columns: 100%;
    width:100%;
    
}
.calanderContainer h2 {
    text-align: center;
}

.bigScreen{
    display:none;
}
.webPageContainer2{
    display:grid;
    max-width: 100%;
    
    grid-template-columns: 1fr;
    column-gap: 0;
    
}
.calanderContainerTitle{
    grid-column: 1/span 1;
}
.calanderContainerTitle h2{
    text-align: center;
}
.box{
    display:none;
}
.AccomadtionsColumns{
     width:100%;
     display:grid;
    grid-template-columns: 1fr ;
    
}
.AccomodationBox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-height: 180px;
    
}
.AccomodationBox img {
    height: 100%;
    max-height: 180px;
    aspect-ratio: 1/1;
}
.amenities {
    padding-left: 50px;
}


.ActivitiesColumns{
    display:grid;
    grid-template-columns: 1fr ;
    row-gap: 15px;
}
.ActivitiesBox{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}
.phoneScreen h5{
    margin-bottom: px;
}
.ActivitiesBox img {
   height: 100%;
   max-height: 180px;
   
}


/*------- quick Links ----- */
.quickLinks h2{
    text-align: center;
    text-indent: 0;
    
}
.quickLinks{
    text-align: center;
    text-indent:0;
    width:100%;
}

}
