p {
    color: blue;
    background-color: hsla(0, 0%, 50%, .8);
}

table , th, td {
    border: 1px solid black;
    background-color: hsla(0,0%,50%,.8);
}

h1{
    text-align: center;
    background-color: hsla(0,0%,50%,.8);
}

body {
    background-image: url("/Resources/CSSCheatSheetResources/images/cool-colorful-abstract-geometric-shapes-mlas3z283czbpw6t\ \(1\).jpg");
}