p {
    color:black;
    
}



.center {
        
        margin: 0px auto;
}


table , th, td {
    border: 1px solid black;
    background-color: cornsilk;

}
td{
    border: 1px solid black;
}

h1{
    text-align: center;
    background-color: brown;
}
h2{
    text-align: center;
    background-color: goldenrod;
}

.body {
    
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    /*------ Pushing whole body to the side to have a Side nav bar ---- */
    margin-left: 220px;
}
body{
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    
}

/*---------Top NavBar ---------*/
.topnav a {
    text-decoration: none;
    color: black;
    
    padding: 8px;
}
.topnav  a:hover{
    text-decoration: underline;
    color: white;
    transform: scale(1.1);
}

header{
    background-color:tan;
    line-height: 20px;
    padding: 10px;
    text-align:center;
    padding: 40px;
    
}
 .topnav li{
    display: inline;
    
}


.topnav li+li::before{
    content: "|";
    color: black;
}

/*------------------------------*/


/*------ Side Bar Syling --------- */
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 120px;;
    left:10;
    background-color: cornsilk;
    overflow-x: hidden;
    padding-top: 20px;
    
    border: 3px solid black;
}
.sidenav h2 {
    background-color: brown;
}

.sidenav h4{
    
    font-size: 25px;
    display:block;
    text-align: center;
   
    margin-bottom: 10px;
}

.sidenav a {
    
    font-size: 16px;
    display: block;
    text-align: left;
    padding-left: 25px;
    margin-top: 15px;
    text-decoration: none;
    color:black;

}
.sidenav a:hover {
    color: white;
 
    background-color: hsla(0, 0%, 50%, 0.5);
}
.sidenav a:active{
    color: Red;
    background-color: hsla(0, 0%, 50%, 0.75);
}

/*-------------------------------------*/

/*-----Editorial Notes ----------- */
.editor{
    background-color: violet;
    color:white;
    font-family:cursive;
    border: 1px dotted black;
}